<nav class="navbar navbar-expand-lg navbar-light bg-white px-3 fixed-top border-bottom border-secondary border-4">
    <a class="navbar-brand text-primary fw-bold" href="/">TrocaLivros</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="bg-primary rounded nav-link text-white fw-semibold me-2" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="bg-dark rounded nav-link text-white fw-semibold" href="/registrar">Registrar</a>
            </li>
        </ul>
    </div>
</nav>
